.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}

body{
  color: orange;
  background-color: blue;
  background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwj32eTR7tblAhWYHjQIHWsHD-gQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F332984966188560960%2F&psig=AOvVaw0BkkzreCXMPtd74O-Cbmu_&ust=1573173626825445)
}