.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}


body{
  color: blue;
  background-image: url(https://i.pinimg.com/originals/5a/3c/f6/5a3cf62701b70d8ed7068e19af80efc1.jpg)
    
}

.text{
  background-color:white;
  border: solid orange; 
}

.score{
  display:flex;
  justify-content:space-around;
}
button{
  text: bold;
  font-size: 18px;
  color: blue;
  border: solid Orange;
  background-color: white;
}

